mixin footer
    div(class="footer__container")
        footer(class="footer flex row-wrap start justify-between")
            div(class="footer__navigation")
                ul(class="footer__list p0 flex column justify-start ml30")
                    div ЗА 
                        span(class="blue") for
                        span(class="orange") 4Wa
                        span(class="red") gon
                    li(class="footer__list__item")
                        a(href="#") Информация
                    li(class="footer__list__item")
                        a(href="#") Свободни позиции
                    li(class="footer__list__item")
                        a(href="#") Кариера
                    li(class="footer__list__item")
                        a(href="#") Контакти
            div(class="footer__navigation")
                ul(class="footer__list p0 flex column justify-start") Нашите услуги
                    li(class="footer__list__item")
                        a(href="#") Общи условия
                    li(class="footer__list__item")
                        a(href="#") Условия при ползване
                    li(class="footer__list__item")
                        a(href="#") Конфиденциалност и политика относно "бисквитките"
                    li(class="footer__list__item")
                        a(href="#") Често задавани въпроси
            div(class="footer__navigation")
                ul(class="footer__list p0 flex column justify-start align-start") Последвайте ни
                    li(class="footer__list__item--follow")
                        img(src="./images/Facebook.png")
                        a(href="#") Facebook
                    li(class="footer__list__item--follow")
                        img(src="./images/Google-plus.png")
                        a(href="#") Google +
                    li(class="footer__list__item--follow")
                        img(src="./images/Pinterest.png")
                        a(href="#") Pinterest
        hr(class="line m0")
        div(class="footer__bottom flex row center justify-start")
            a(href="#")
                img(src="./images/easyPay.png")
            a(href="#")
                img(src="./images/epay.png")
            a(href="#")
                img(src="./images/BankButton.png")
            a(href="#")
                img(src="./images/PayButton.png")
    div(class="footer__end flex row center justify-center")
        span &#9400 2017 PerfectCodeStorm 
        span(class="bottom__logo")
            span(class="black")

