mixin navigation
    
    header(class='header')
        div(class='header__container flex row center justify-around')
            div(class='header__nav p0 flex row center justify-center')
                div(class='header__logo')
                    span(class='blue') for
                    span(class='orange') 4Wa
                    span(class='red') gon
            div(class='header__nav p0 flex row center justify-between')
                div(class='header__navigation')
                    ul(class="navigation__list p0 flex row justify-between")

                        li(class='navigation__list__item')
                            a(href='#')
                                | НАЧАЛО

                        li(class='navigation__list__item')
                            a(href='#')
                                | РЕЗЕРВАЦИИ

                        li(class='navigation__list__item')
                            a(href='#')
                                | КАТЕГОРИИ

                        li(class='navigation__list__item')
                            a(href='#')
                                | УСЛУГИ

                        li(class='navigation__list__item')
                            a(href='#')
                                | ПРОФИЛ
