extend ../_shared/_master

block body
    h1.htitle.text-center Мечтаната ваканция ви очаква!
    .hcards
        each hotel in context
            .hcard
                header
                    h2
                        a(href="/hotel-details")
                            =hotel.name
                    h4
                        a(href="/regions")
                            =hotel.location
                img(src='http://www.bgvakancia.com/common_images/offers/2445/thumb_96ae22225500b89680d0d490f65b7eae.jpg', alt='Mihaylov House')
                .body
                    p
                        =hotel.description
                    a.btn.btn-success.pull-left(href=("/hotel-details"))
                        | Разгледай
                    a.btn.btn-success.pull-right(href=("/hotel-gallery"))
                        | Специално
