extend ../_shared/_master

block body
    h1.htitle.text-center Мечтаната ваканция ви очаква!
    .hcards
        .hcard
            header
                h2 
                    a(href="/hotel-details") Михайловата къща, Буйновци
                h4 
                    a(href="/regions") Еленски Балкан
            img(src='http://www.bgvakancia.com/common_images/offers/2445/thumb_96ae22225500b89680d0d490f65b7eae.jpg', alt='Mihaylov House')
            .body
                p "Михайловата къща" е разположена в красивото балканско село Буйновци, в Балкана, на 11 км от гр. Елена. 
                a.btn.btn-success.pull-left(href=("/hotel-details")) Разгледай
                a.btn.btn-success.pull-right(href=("/hotel-gallery")) Специално
        .hcard
            header
                h2 
                    a(href="/hotel-details") Къща Станкови, Цигов чарк
                h4 
                    a(href="/regions") Централен Балкан
            img(src='http://www.bgvakancia.com/common_images/offers/812/thumb_6d219cd52d0596c2ab6c443615ba76d3.jpg', alt='Stankovi')
            .body
                p Къща за гости "СТАНКОВИ" се намира в невероятния планински курорт Цигов Чарк край язовир Батак.
                a.btn.btn-success.pull-left(href=("/hotel-details")) Разгледай
                a.btn.btn-success.pull-right(href=("/hotel-gallery")) Специално
        .hcard
            header
                h2 
                    a(href="/hotel-details") Старата фурна, Звездец
                h4 
                    a(href="/regions") Странджа
            img(src='http://www.bgvakancia.com/common_images/offers/7426/thumb_564f2b3539b1789653b5f2f4f64e2fc1.jpg', alt='Starata Furna')
            .body
                p Къща за гости "Старата фурна" се намира в малкото село Звездец, в полите на живописната Странджа планина, само на 60 км от черноморския бряг.
                a.btn.btn-success.pull-left(href=("/hotel-details")) Разгледай
                a.btn.btn-success.pull-right(href=("/hotel-gallery")) Специално
        .hcard
            header
                h2 
                    a(href="/hotel-details") Къщи за гости "Борика", Борика
                h4 
                    a(href="/regions") Средна гора
            img(src='http://www.bgvakancia.com/common_images/offers/6759/thumb_4294f046613ebc6f97c3ea915eef01f9.jpg', alt='Borika')
            .body
                p Намира се в с.Борика, Ихтиманско(50км от София и 110 км. от Пловдив), непосредствено до язовир Борика. 
                a.btn.btn-success.pull-left(href=("/hotel-details")) Разгледай
                a.btn.btn-success.pull-right(href=("/hotel-gallery")) Специално
        .hcard
            header
                h2 
                    a(href="/hotel-details") Къща за гости "Торлакъ",Мартиново 

                h4 
                    a(href="/regions") Западна Стара планина
            img(src='http://www.bgvakancia.com/common_images/offers/7289/thumb_e4ededa1323c52fd2404c0cd54b5cf66.jpg', alt='Torlak')
            .body
                p Намира се в китното село Мартиново, в непосредствена близост до реката и планината, на 4 км след Чипровци. 
                a.btn.btn-success.pull-left(href=("/hotel-details")) Разгледай
                a.btn.btn-success.pull-right(href=("/hotel-gallery")) Специално
        .hcard
            header
                h2 
                    a(href="/hotel-details") Комплекс Две Стрехи, Голец
                h4 
                    a(href="/regions") Централен Балкан
            img(src='http://www.bgvakancia.com/common_images/offers/5921/thumb_4137042717e33812b194250e7affd7aa.jpg', alt='')
            .body
                p В Две Стрехи с много любов преобразихме четири 150 годишни къщи в прекрасни автентични къщи за отдих.
                a.btn.btn-success.pull-left(href=("/hotel-details")) Разгледай
                a.btn.btn-success.pull-right(href=("/hotel-gallery")) Специално