extend ../_shared/_master

block body
    h1.htitle.text-center Мечтаната ваканция ви очаква!
    .hcards
        each hotel in context
            .hcard
                header
                    h2
                        a(href="/hotels/" + hotel._id)
                            =hotel.name
                    h4
                        a(href="/region/" + hotel.region._id)
                            =hotel.region
                img.img-responsive(src=hotel.imageURL, alt=hotel.name)
                .body
                    p
                        =hotel.description
                    a.btn.btn-success(href="/hotels/" + hotel._id)
                        | По-подробно
                    a.btn.btn-success(href="/hotels/" + hotel._id + "/gallery")
                        | Галерия