extend ../admin/panel

block addoredit
    if (message && message.length > 0)
        div.flash-message-green
            | #{message}
    if (error && error.length > 0)
        div.flash-message-red
            | #{error}
    h2 Добави хотел
    form.form-horizontal(action='/hotels' method="POST")
        .form-group
            label.col-sm-3.control-label(for="name")
                | Име на хотела
            .col-sm-9
                input.form-control(type="text" id="name" name="name" required)
                p.form-text.text-muted
                    | Името се състои само от букви, цифри, интервали, тире и запетая
        .form-group
            label.col-sm-3.control-label(for="regionId")
                | Регион
            .col-sm-9
                select.form-control(id="regionId" name="regionId")
                    each region in regions
                        option(value=region._id) #{region.name}
                p.form-text.text-muted
                    | Изберете регион
        .form-group
            label.col-sm-3.control-label(for="phone")
                | Телефон
            .col-sm-9
                input.form-control(type="text" id="phone" name="phone" placeholder="0888 111888" required)
        .form-group
            label.col-sm-3.control-label(for='imageURL')
                | Изображение
            .col-sm-9
                input.form-control(type='text' name='imageURL' id='imageURL' placeholder="Адрес на изображението" required)
                p.form-text.text-muted
                    | Въведете валиден URL адрес
        .form-group
            label.col-sm-3.control-label(for='description') 
                | Кратко описание
            .col-sm-9
                textarea.form-control(name='description' id='description' placeholder="Описание" required)
        .form-group
            label.col-sm-3.control-label(for='lattitude') 
                | Ширина(lattitude)
            .col-sm-9
                input.form-control(name='lattitude' id='lattitude' placeholder="42.1234" required)
        .form-group
            label.col-sm-3.control-label(for='region') 
                | Дължина(longitude)
            .col-sm-9
                input.form-control(name='longitude' id='longitude' placeholder="27.1234" required)
        .form-group
            .col-sm-offset-3.col-sm-3
                input.btn.btn-primary(type='submit', value='Добави')