html {
  box-sizing: border-box;
}

*, 
*:before, 
*:after {
  box-sizing: inherit;
}

/* ------ Carousel ------ */
.carousel-caption .white {
    color: white;
}

/* ------ Hotels Card ------ */
.htitle {
    margin-top: 0;
    font-weight: bold;
    color: white;
    text-shadow: 1px 1px 2px #999, 3px -2px 4px #317eac;
}

.hcards {
  display:grid;
  grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
  grid-gap: 10px;
  margin: 0 auto;
  max-width: 1080px;
  font-family: 'Roboto', sans-serif;
}

.hcard {
  background-color: #fff;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
  border-radius: 4px;
}

.hcard a {    
    color: #fff;
    text-decoration: none;
    margin-bottom: 8px;
}

.hcard a:hover {
  color: orange;
  text-decoration: none;  
}

.hcard img {
  width: 100%;
  max-height: 220px;
}

.hcard header {
  padding: 10px;
  background-color: #317eac;
  color: #fff;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.hcard header h2, 
.hcard header h4 {
  font-size: 1.4em;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

.hcard header h4 {
    font-size: 1.1em;
    font-style: italic;
}

.hcard .body {
  padding: 10px;
  color: #444;
}

/* ------ Footer ------ */
/*footer {
    background-color: #5f5f5f;
    color: #ffffff;
    padding: 15px;
    margin-top: 10px;
    }*/

.card-container.card {
    max-width: 350px;
    padding: 40px 40px;
}

.btn {
    font-weight: 700;
    height: 36px;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
}

/*
 * Card component
 */
.card {
    background-color: #F7F7F7;
    /* just in case there no content*/
    padding: 20px 25px 30px;
    margin: 0 auto 25px;
    margin-top: 50px;
    /* shadows and rounded borders */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.profile-img-card {
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

/*
 * Form styles
 */
.profile-name-card {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin: 10px 0 0;
    min-height: 1em;
}

.reauth-email {
    display: block;
    color: #404040;
    line-height: 2;
    margin-bottom: 10px;
    font-size: 14px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.form-signin #inputEmail,
.form-signin #inputPassword {
    direction: ltr;
    height: 44px;
    font-size: 16px;
}

.form-signin input[type=email],
.form-signin input[type=password],
.form-signin input[type=text],
.form-signin button {
    width: 100%;
    display: block;
    margin-bottom: 10px;
    z-index: 1;
    position: relative;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.form-signin .form-control:focus {
    border-color: rgb(104, 145, 162);
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
}

.btn.btn-signin {
    /*background-color: #4d90fe; */
    background-color: rgb(104, 145, 162);
    /* background-color: linear-gradient(rgb(104, 145, 162), rgb(12, 97, 33));*/
    padding: 0px;
    font-weight: 700;
    font-size: 14px;
    height: 36px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: none;
    -o-transition: all 0.218s;
    -moz-transition: all 0.218s;
    -webkit-transition: all 0.218s;
    transition: all 0.218s;
}

.btn.btn-signin:hover,
.btn.btn-signin:active,
.btn.btn-signin:focus {
    background-color: rgb(12, 97, 33);
}

.forgot-password {
    color: rgb(104, 145, 162);
}

.forgot-password:hover,
.forgot-password:active,
.forgot-password:focus{
    color: rgb(12, 97, 33);
}

#register-form{
    margin: 0 auto ;
    max-width: 300px;
    padding: 30px;
}

#register-form{
    border: 1px solid rgb(12, 97, 33);
    border-radius: 5px;
}