extend ../_shared/_master

block body
    .hold-transition.sidebar-mini
        .wrapper
            header.main-header
                a.logo(href='#')
                    span.logo-mini Adm
                    span.logo-lg
                        b Aдмин Панел
                nav.navbar.navbar-static-top(role='navigation')
                    // Sidebar toggle button
                    a.sidebar-toggle(href='#', data-toggle='push-menu', role='button')
                        span.sr-only Toggle navigation
            aside.main-sidebar
                section.sidebar
                    ul.sidebar-menu.custom-my(data-widget='tree')
                        li.header Добре дошъл!
                        li
                            a(href='/regions')
                                i.fa.fa-map-marker
                                span Добави регион
                        li
                            a(href='/hotels')
                                i.fa.fa-h-square
                                span Добави хотел
                        li
                            a(href='/rooms')
                                i.fa.fa-bed
                                span Добави стая
                        li
                            a(href='/services')
                                i.fa.fa-picture-o
                                span Добави услуга
                        li.treeview
                            a(href='#')
                                i.fa.fa-pencil-square-o 
                                span Редактирай
                                span.pull-right-container
                                    i.fa.fa-angle-left.pull-right
                            ul.treeview-menu
                                li
                                    a(href='#') 
                                        i.fa.fa-picture-o 
                                        span Потребител
                                li
                                    a(href='/regionchoose') 
                                        i.fa.fa-map-marker
                                        span Регион
                                li
                                    a(href='/hotels') 
                                        i.fa.fa-h-square
                                        span Хотел
                                li
                                    a(href='/rooms') 
                                        i.fa.fa-bed
                                        span Стая
                                li
                                    a(href='/services') 
                                        i.fa.fa-picture-o
                                        span Услуга
                                li
                                    a(href='#') 
                                        i.fa.fa-shopping-basket
                                        span Поръчка
            .content-wrapper
                section.content.container-fluid
                    block addoredit
      
            .control-sidebar-bg
block scripts
    script(src='/public/js/admin.js')
