extend ../admin/panel

block addoredit
    if (message && message.length > 0)
        div.flash-message-red
            | #{message}
    form(id="register-form" class="form-vertical" action='/rooms' method="POST")
        fieldset
            div(id="legend")
                legend
                    | Update room

            div(class="control-group")
                label(class="control-label" for="roomType")
                    | Room Type
                div(class="controls")
                    input(type="text" id="roomType" name="roomType" placeholder="" class="input-xlarge")
                    input(type="text" id="roomId" name="roomId" value=roomId class="hidden")
                    input(type="text" name="_method" value="PUT" class="hidden")
                    p(class="help-block")
                        | Enter one, two, three or four
            div(class="control-group")
                label(class="control-label" for="imageURL")
                    | Image
                div(class="controls")
                    input(type="text" id="imageURL" name="imageURL" placeholder="" class="input-xlarge")
                    p(class="help-block")
                        | Please enter valid image URL

            div(class="control-group")
                label(class="control-label" for="description")
                    | Description
                div(class="controls")
                    input(type="text" id="description" name="description" placeholder="" class="input-xlarge")
                    p(class="help-block")
                        | Enter room description

            div(class="control-group")
                label(class="control-label" for="price")
                    | Price
                div(class="controls")
                    input(type="text" id="price" name="price" placeholder="" class="input-xlarge")
                    p(class="help-block")
                        | Please enter room price

            div(class="control-group")
                label(class="control-label" for="roomStatus")
                    | Room Status
                div(class="controls")
                    select(id="roomStatus" name="roomStatus" class="input-xlarge")
                        option(value=free) free
                        option(value=booked) booked
                    p(class="help-block")
                        | Choose one

            div(class="control-group")
                div(class="controls")
                    button(class="btn btn-success")
                        | Edit room