extend ../_shared/_master

block body
    h1.htitle.text-center Само ако си админ ги виждаш
    .hcards
        if user && user.role === 'admin'
            each order in context
                .hcard
                    header
                        h2
                            a(href="/orders/" + order._id)
                                | Детайли: #{order._id}
                        hr
                        h2
                            a(href="/orders/" + order._id)
                                | От потребител: #{order.username}
                        hr
                        h2
                            a(href="/orders/" + order._id)
                                | В хотел: #{order.hotel}
                        hr
                        h2
                            a(href="/orders/" + order._id)
                                | Цена: #{order.price}

                    a(href="/orders/" + order._id)
                        button(type="button" class="redbtn")
                            | Отмени поръчката

                    a(href="/")
                        button(type="button" class="greenbtn")
                            | Потвърди/Изпрати email
