extend ../_shared/_master

block body
    //- .container
    //-     h2.well.well-sm Направи резервация
    //-     .row
    //-         .col-sm-6
    //-             h3 Къща за гости Доспат - двойна стая
    //-             img.img-responsive(src='http://bgglobe.net/objects/large/59033/%D0%9A%D1%8A%D1%89%D0%B0%20%D0%B7%D0%B0%20%D0%B3%D0%BE%D1%81%D1%82%D0%B8%20%D0%93%D1%80%D0%B8%D0%B3%D0%BE%D1%80%D0%BE%D0%B2%D0%B0%20%D0%BA%D1%8A%D1%89%D0%B0%20%D1%81%D0%94%D0%BE%D0%BB%D0%B5%D0%BD%20-%20%D0%93%D1%80%D0%B0%D0%B4%20%D0%94%D0%BE%D1%81%D0%BF%D0%B0%D1%82.jpg' alt='двойна стая') 
    //-             h4 Цена за 1 нощувка: 60 лв.
    //-             h4 Цена за 5 и повече нощувки: 50 лв.
    //-         .col-sm-6
    //-             form.form-horizontal(method='POST', action='/orders/room')
    //-                 .form-group
    //-                     label.col-sm-3.control-label(for="startDate")                
    //-                         | Дата на пристигане
    //-                     .col-sm-9
    //-                         input.form-control(type='date' name='startDate')
    //-                 .form-group
    //-                     label.col-sm-3.control-label(for="nightsCount")
    //-                         | Брой нощувки
    //-                     .col-sm-9
    //-                         input.form-control(type='number' name='nightsCount')
    //-                 .form-group
    //-                     .col-sm-offset-3.col-sm-9
    //-                         input.btn.btn-primary(type='submit', value='Резервирай')
    //-             h4.alert-success.text-center
    //-                 | Очаквайте потвърждение на резервацията до края на деня

    if (message && message.length > 0)
        div.flash-message-red
            | #{message}
    if user
        form(id="register-form" class="form-vertical" action='/orders/booking' method="POST")
            fieldset
                div(id="legend")
                    legend
                        | Add Your order

                //- div(class="control-group")
                //-     label(class="control-label" for="hotelId")
                //-         | Choose a hotel you want to book room in
                //-     div(class="controls")
                //-         select(id="hotelId" name="hotelId" class="input-xlarge")
                //-             each hotel in hotels
                //-                 option(value=hotel._id) #{hotel.name}

                div(class="control-group")
                    label(class="control-label" for="nightsCount")
                        | Брой нощувки
                    div(class="controls")
                        input.form-control(type='number' id="nightsCount" name="nightsCount" placeholder="" class="input-xlarge")

                div(class="control-group")
                    label(class="control-label" for="paymentType")
                        | Payment Type
                    div(class="controls")
                        input.form-control(id="paymentType" name="paymentType" placeholder="" class="input-xlarge")

                div(class="control-group")
                    label(class="control-label" for="serviceType")
                        | Добавете услуга
                    div(class="controls")
                        input.form-control(id="serviceType" name="serviceType" placeholder="" value="Не искам услуга" class="input-xlarge")
                        p(class="help-block")
                            | Оставете така ако не искате услуга/и към поръчката

                div(class="control-group")
                    label(class="control-label" for="price")
                        | Your total price will be:
                    div(class="controls")
                        input(type="text" id="price" name="price" placeholder="" class="input-xlarge" value="999,99")

                div(class="control-group")
                    div(class="controls")
                        button(class="btn btn-success")
                            | Add Order
    else
        h2
            | Please login to book room or service