extend ../_shared/_master

block body

    if (message && message.length > 0)
        div.flash-message-red
            | #{message}
    if user
        form(id="register-form" class="form-vertical" action='/orders' method="POST")
            fieldset
                div(id="legend")
                    legend
                        | Add Your order
                        
                div(class="control-group")
                    label(class="control-label" for="nightsCount")
                        | Брой нощувки
                    div(class="controls")
                        input.form-control(type='number' id="nightsCount" name="nightsCount" placeholder="" class="input-xlarge")

                div(class="control-group")
                    label(class="control-label" for="paymentType")
                        | Payment Type
                    div(class="controls")
                        select(id="paymentType" name="paymentType" class="input-xlarge")
                            option(value="В брой") В брой
                            option(value="По банков път") По банков път
                            option(value="EasyPay") EasyPay
                        p(class="help-block")
                            | Choose you way po pay

                div(class="control-group")
                    label(class="control-label" for="serviceType")
                        | Добавете услуга
                    div(class="controls")
                        input.form-control(id="serviceType" name="serviceType" placeholder="" value="Не искам услуга" class="input-xlarge")
                        p(class="help-block")
                            | Оставете така ако не искате услуга/и към поръчката

                div(class="control-group")
                    div(class="controls")
                        input.form-control(id="price" name="price" value="11,11" class="hidden" placeholder="" class="input-xlarge")

                div(class="control-group")
                    label(class="control-label" for="username")
                        | Payment details
                    div(class="controls")
                        select(id="username" name="username" class="input-xlarge")
                                option(value=user.username) For this account owner
                        p(class="help-block")
                            | Your total $$ willl be sent to your email

                div(class="control-group")
                    div(class="controls")
                        button(class="btn btn-success")
                            | Add Order
    else
        h2
            | Please login to book room or service