extend ../_shared/_master

block body
    if (message && message.length > 0)
        div.flash-message-green
            | #{message}
    if (error && error.length > 0)
        div.flash-message-red
            | #{error}
    .intro-header
        .container
            .row
                .col-lg-12
                    .intro-message
                        h1 DREAM REST
                        h3 Да открием заедно вашата почивка-мечта!
                        hr.intro-divider
                        ul(class="list-inline")
                            li
                                 a.btn.btn-info(href="/hotels/all") Напред