extend ../_shared/_master

block body
    if (message && message.length > 0)
        div.flash-message-red
            | #{message}
    div(class="intro-header")
        div(class="container")
            div(class="row")
                div(class="col-lg-12")
                    div(class="intro-message")
                        h1 DREAM REST
                        h3 Добре дошли, намерете своето място за отдих
                        hr(class="intro-divider")
                        ul(class="list-inline")
                            li
                                a(href="/login")
                                    button(type="button" class="btn btn-block redbtn") Влезте
                            li
                                a(href="/register")
                                    button(type="button" class="btn btn-block greenbtn") Регистрирайте се
