mixin navigation
    
    nav(class="navbar navbar-inverse")
        div(class="container-fluid")
            div(class="navbar-header")
                button(type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar")
                    span(class="icon-bar")
                    span(class="icon-bar")
                    span(class="icon-bar")
                a(class="navbar-brand" href="/")
                    | Почивка мечта
            div(class="collapse navbar-collapse" id="myNavbar")
                ul(class="nav navbar-nav")
                    li
                        a(href="/hotels") Хотели
                    li
                        a(href="/regions") Региони
                    if user
                        li
                            a(href="/regions/create") Добави Регион
                        li
                            a(href="/admin/panel") Админ Панел    

                ul(class="nav navbar-nav navbar-right")
                    if !user
                        li
                            a(href="/login")
                                | Влез
                        li
                            a(href="/register") 
                                | Регистрирай се
                    else
                        li
                            a(href="profile")
                                | Здравей, #{user.username}
                        li
                            a(href="/logout")
                                | Излез