mixin navigation
    
    nav(class="navbar navbar-inverse")
        div(class="container-fluid")
            div(class="navbar-header")
                button(type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar")
                    span(class="icon-bar")
                    span(class="icon-bar")
                    span(class="icon-bar")
                a(class="navbar-brand" href="/")
                    | Почивка мечта
            div(class="collapse navbar-collapse" id="myNavbar")
                ul(class="nav navbar-nav")
                    li
                        a(href="/allhotels") Хотели
                    li
                        a(href="/allregions") Региони
                    if user && user.role !== 'admin'
                        li
                            a(href="/orders") Резервирай стая/услуга
                        //- li
                        //-     a(href="/regions/orderservice") Резервирай забавление
                    if user && user.role === 'admin'
                        li
                            a(href="/admin/panel") Админ Панел
                        //- li
                        //-     a(href="/comments") Коментирай хотел
                ul(class="nav navbar-nav navbar-right")
                    if !user
                        li
                            a(href="/login" id="loginBtn")
                                | Влез
                        li
                            a(href="/register" id="registerBtn") 
                                | Регистрирай се
                    else
                        li
                            a(href="profile")
                                | Здравей, #{user.username}
                        li
                            a(href="/logout")
                                | Излез