extend ../_shared/_master

block body
        h2 #{error}
        form(id="register-form" class="form-vertical" action='/users' method="POST")
            fieldset
                div(id="legend")
                    legend
                        | Add Room/Service

                div(class="control-group")
                    label(class="control-label" for="startDate")
                        | Start Date
                    div(class="controls")
                        input(type="text" id="startDate" name="startDate" placeholder="" class="input-xlarge")
                        p(class="help-block")
                            | Please enter Start date

                div(class="control-group")
                    label(class="control-label" for="nightsCount")
                        | Nights Count
                    div(class="controls")
                        input(type="text" id="nightsCount" name="nightsCount" placeholder="" class="input-xlarge")
                        p(class="help-block")
                            | Please enter Nights count

                div(class="control-group")
                    div(class="controls")
                        button(class="btn btn-success")
                            | Add


