extend ../_shared/_master

block body
    h1
        | Admin authentication required!

    if (message && message.length > 0)
        div.flash-message-red
            | #{message}
    if (error && error.length > 0)
        div.flash-message-red
            | #{error}

