extend ../_shared/_master

block body
    if (message && message.length > 0)
        div.flash-message-green
            | #{message}
    if (error && error.length > 0)
        div.flash-message-red
            | #{error}
       
    .container
        .card.card-container
            img#profile-img.profile-img-card(src="//ssl.gstatic.com/accounts/ui/avatar_2x.png")
            form.form-signin(action="/login" method="POST")
                input#inputEmail.form-control(type="text" name="username" placeholder="Username" required autofocus)
                input#inputPassword.form-control(type="password" name="password" placeholder="Password" required)

                button.btn.btn-lg.btn-primary.btn-block.btn-signin(type="submit")
                    | Влез
