extend ../_shared/_master

block body
    form(id="register-form" class="form-vertical" action='/register' method="POST")
        fieldset
            div(id="legend")
                legend
                    | Register
            div(class="control-group")
                label(class="control-label" for="username")
                    | Username
                div(class="controls")
                    input(type="text" id="username" name="username" placeholder="" class="input-xlarge")
                    p(class="help-block")
                        | Username can contain any letters or numbers, without spaces
            div(class="control-group")
                label(class="control-label" for="firstName")
                    | First Name
                div(class="controls")
                    input(type="text" id="firstName" name="firstName" placeholder="" class="input-xlarge")
                    p(class="help-block")
                        | Please enter your first Name
            div(class="control-group")
                label(class="control-label" for="lastName")
                    | Last Name
                div(class="controls")
                    input(type="text" id="lastName" name="lastName" placeholder="" class="input-xlarge")
                    p(class="help-block")
                        | Please enter your last Name
            div(class="control-group")
                label(class="control-label" for="phone")
                    | Phone Number
                div(class="controls")
                    input(type="text" id="phone" name="phone" placeholder="" class="input-xlarge")
                    p(class="help-block")
                        | Please enter your phone Number
            div(class="control-group")
                label(class="control-label" for="email")
                    | E-mail
                div(class="controls")
                    input(type="text" id="email" name="email" placeholder="" class="input-xlarge")
                    p(class="help-block")
                        | Please provide your E-mail
            div(class="control-group")
                label(class="control-label" for="password")
                    | Password
                div(class="controls")
                    input(type="password" id="password" name="password" placeholder="" class="input-xlarge")
                    p(class="help-block")
                        | Password should be at least 4 characters
            div(class="control-group")
                div(class="controls")
                    button(class="btn btn-success")
                        | Register


