extend ../_shared/_master

block body
    if (message && message.length > 0)
        div.flash-message-red
            | #{message}
    form(id="register-form" class="form-vertical" action='/services' method="POST")
        fieldset
            div(id="legend")
                legend
                    | Add service
            div(class="control-group")
                label(class="control-label" for="serviceType")
                    | Service Type
                div(class="controls")
                    select(id="serviceType" name="serviceType" class="input-xlarge")
                        option(value='разходка с кон') разходка с кон
                        option(value='традиционни ястия') традиционни ястия
                        option(value='представяне на местни обичаи') представяне на местни обичаи
                        option(value='представяне на местни занаяти') представяне на местни занаяти
                        option(value='нестинарство') нестинарство
                        option(value='къпане във водопад') къпане във водопад
                        option(value='посещение на пещера') посещение на пещера
                        option(value='посещение на пещера без връщане') посещение на пещера без връщане
                        option(value='разходка с лодка и риболов') разходка с лодка и риболов
                        option(value='състезание с джипове') състезание с джипове
                    p(class="help-block")
                        | Choose one
            div(class="control-group")
                label(class="control-label" for="description")
                    | Description
                div(class="controls")
                    input(type="text" id="description" name="description" placeholder="" class="input-xlarge")
                    p(class="help-block")
                        | Enter description
            div(class="control-group")
                label(class="control-label" for="imageURL")
                    | Image
                div(class="controls")
                    input(type="text" id="imageURL" name="imageURL" placeholder="" class="input-xlarge")
                    p(class="help-block")
                        | Please enter valid image URL
            div(class="control-group")
                label(class="control-label" for="price")
                    | Price
                div(class="controls")
                    input(type="text" id="price" name="price" placeholder="" class="input-xlarge")
                    p(class="help-block")
                        | Please enter price
            div(class="control-group")
                div(class="controls")
                    button(class="btn btn-success")
                        | Create service