extend ../admin/panel

block addoredit
    if (message && message.length > 0)
        div.flash-message-red
            | #{message}
    h2 Добави нов регион
    form.form-horizontal(method="POST", action="/regions")
        .form-group
            label.col-sm-3.control-label(for='name') Наименование
            .col-sm-9
                input.form-control(type='text' name='name' id='name' placeholder='Име на региона' required)
        .form-group
            label.col-sm-3.control-label(for='imageURL') Изображение
            .col-sm-9
                input.form-control(type='text' name='imageURL' id='imageURL' placeholder='Адрес на изображението' required)
        .form-group
            label.col-sm-3.control-label(for='mapURL') Карта
            .col-sm-9
                input.form-control(type='text' name='mapURL' id='mapURL' placeholder='Адрес на картата')
        .form-group
            label.col-sm-3.control-label(for='regionType') Тип на региона
            .col-sm-9
                input.form-control(type='text' name='regionType' id='regionType' placeholder='Тип')
        .form-group
            label.col-sm-3.control-label(for='description') Кратко описание
            .col-sm-9
                textarea.form-control(name='description' id='description' placeholder='Описание' required)
        .form-group
            .col-sm-offset-3.col-sm-9
                input.btn.btn-primary(type='submit', value='Добави')